:root {
    --color3: rgba(30,14,255, .4);
    --color1: rgba(30,144,255, .8);
    --color2: rgba(30,144,255, 0.7);
    --bg: rgba(0,0,0,.8);
    --blanck: #fff;
    --bg2: rgba(0,0,0,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background: var(--bg);
	font-size: 22px;
	font-family: arial,sans serief;
}
.formulaire{
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.9)), 
	url("../images/logo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	box-shadow: 1px 5px 13px var(--color2);
	margin: 3% 20%;
	padding: 30px 100px;
	width: 65%;

}
.content img{
	width: 80%;
	height: 18vh;
}
.droite{
	text-align: center;
	margin-left: 100px;
}
.content p,.content b{
	font-size: 20px;
}
b{
	font-size: 18px;
}
.content span{
	font-size: 15px;
}
input,select{
	padding: 5px;
	border: none;
	border-left: 2px solid var(--color2);
	border-bottom:2px solid var(--color2);
	margin: 10px 5px;
	width: 25%;
}
table{
	margin-bottom: 50px;
}
.mon-button{
	padding: 15px;
	border-radius: 10px;
	border: none;
	background: var(--color1);
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	opacity: 0.5;
	transition: 0.5s all ease;
}
.mon-button:hover{

	opacity: 0.9;
}
center{

	font-size: 20px;
}

h2{

	font-size: 30px;
	margin-bottom: 10px;
}
.content{
	display: flex;
	align-items: center;
}

.notification{
	opacity: 0;
	position: absolute;
	z-index: 1000;
	font-size: 18px;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
	padding: 25px 30px;
	box-shadow:13px 20px 20px rgba(0,0,0,.9) ;
	bottom: -150px;
	transition: all 0.6s ease;
	left: 42%;
}
.notification.show{
	opacity: 1;
	background-color: transparent;
	opacity: .7;
	bottom: 200px;
}