
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,600;1,900&display=swap'); 

*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}
:root {
	--color3: rgba(30,14,255, .4);
	--color1: rgba(30,144,255, .8);
	--color2: rgba(30,144,255, 0.7);
}
h3{
	margin-left: 10%;
	color: var(--color3);
	text-transform: capitalize;
}