:root {
    --color3: rgba(30,14,255, .4);
    --color1: rgba(30,144,255, .8);
    --color2: rgba(30,144,255, 0.7);
    --bg: rgba(0,0,0,.8);
    --blanck: #fff;
    --bg2: rgba(0,0,0,.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background: var(--bg);
	font-size: 22px;
	font-family: arial,sans serief;
}
.form{
	background: var(--blanck);
	box-shadow: 1px 5px 13px var(--color2);
	margin: 5% 20%;
	padding: 30px;
	width: 65%;

}
h2{
	color: var(--color2);
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}
input,select{
	border: solid 1px var(--bg2);
	padding: 15px;
	margin: 10px;
	width: 47%;
	font-size: 18px;
	color: var(--color1);
	opacity: 1;

}
textarea{
	border: solid 1px var(--bg2);
	padding:  50px 15px;
	margin: 10px;
	width: 97%;
	height: 25vh;
	font-size: 18px;
	color: var(--color1);
	opacity: 1;

}
input::placeholder,textarea::placeholder,select{
	font-size: 18px;
	color: var(--color1);
	opacity: .5;
}
input[type="checkbox"]{
	padding: 5px;
	margin: 2px 5px;
	cursor: pointer;
	font-weight: 600;
	width:auto;
}
.input-bouton{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%
}
.input-bouton button{
	background-color: var(--color2);
	color: var(--blanck);
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	opacity: .6;
	transition: all 0.5s ease; 
}
.input-bouton button:hover{
	opacity: 1;
}

.notification{
	opacity: 0;
	position: absolute;
	z-index: 1000;
	font-size: 18px;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
	padding: 25px 30px;
	box-shadow:13px 20px 20px rgba(0,0,0,.9) ;
	bottom: -150px;
	transition: all 0.6s ease;
	left: 42%;
}
.notification.show{
	opacity: 1;
	background-color: transparent;
	opacity: .7;
	bottom: 200px;
}