:root {
    --color3: rgba(30,14,255, .4);
    --color1: rgba(30,144,255, .8);
    --color2: rgba(30,144,255, 0.7);
    --bg: rgba(0,0,0,.8);
    --blanck: #fff;
    --bg2: rgba(0,0,0,.3);
  --blue: dodgerblue;
  --blanck: white;
  --blue2:aliceblue;
  --att:firebrick;
  --suc:deepskyblue;
  --err:tomato;
}
*{
	box-sizing: border-box;
}
body{
	background-color: var(--bg);
}

.img{
	width: 50%;
	height: 5vh;
	border-radius: 15px;
}
.tete{
	display: flex;
	text-align: center;
	background: var(--color2);
	padding: 20px;
}
.tete1{
	display: flex;
	text-align: center;
	justify-content: center;
	text-align: center;
	background: var(--err);
	padding: 15px;
	color: var(--blanck);
}

.hide{
	display: none;
}
.tete input{
	position: absolute;
	margin-left: 200px;
	margin-top: -6px;
	width: 30%;
}
h1{
	font-size: 35px;
	color: var(--blanck);
}
#recherche i{
	position: absolute;
	color: var(--color1);
	margin:4px 640px ;
	font-size: 25px;
	cursor: pointer;
}

.update,.delete{
	background-color: var(--blue);
	color: var(--blanck);
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-weight: 600;

}
.delete{
	background-color: var(--err);
	
}


.table{
	width: 100%;
	border-collapse: collapse;

}
.table td,.table th{
	padding: 12px 15px;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 17px;
}
th{
	background: var(--blue);
	color: var(--blanck);
}
.table tbody tr:nth-child(even){
	background-color: var(--blue2);
}

.options{
	background: rgba(255,0,0,.8);
}


@media(max-width: 500px){
	.table thead{
		display: none;

	}
	.table,.table tbody,.table tr,.table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom: 15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		position: relative;

	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-weight: bold;
		text-align: left;
		color: var(--blue);
	}
}