.btn-file{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    border-radius: 5px;
    line-height: 1.5;
    background: #ffc100;
    border: none;
    overflow: hidden;
    transition: all 0.3s;
    color: blue;
}
.btn-file input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(5);
    opacity: 0;
}
.btn-file:hover{
    background: #d9a400;
}




/*
*/

.img img{
    margin: 10px -90px;
    border-radius: 50%;
    border: solid 2px aliceblue;
    width: 200px;
    height: 26vh;

}
.upload2{
    width: 100px;
    position: relative;
    margin: auto;
}
.upload2 .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    margin: 65px 8px;
}
.upload2 .round input[type="file"]{
    position: absolute;
    transform: scale(3);
    opacity: 0;
    margin-left: -20px;
}
input[type="file"]::-webkit-file-upload-button{
    cursor: pointer;
}